name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]
        poetry-version: [1.1.11, 1.2.0a2]
    steps:
    - uses: actions/checkout@v2
    - 
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - 
      name: Set up poetry
      uses: abatilo/actions-poetry@v2.0.0
      with:
        poetry-version: ${{ matrix.poetry-version }}
    -
      name: Install tox
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions
    -
      name: typeo ci
      run: |
        cd libs/hermes/hermes.typeo
        tox
    -
      name: quiver ci
      run: |
        cd libs/hermes/hermes.quiver
        tox
